{% extends 'posts/base.html' %}

{% block content %}

    <h1>{{ term.word.title }}</h1>
    <p><a href="{% url 'posts:add_def' term.id %}">Add Definition</a></p>
    <p><a href="{% url 'posts:add_source' %}">Add Source</a></p>
    <ul>
        {% for def in defs %}
            <div>
                <h2>{{ def.definition }}</h2>
                <p>
                    Source: {{ def.source }} |
                    {% for k, v in MEDIA_TYPES.items %}
                        {% if def.source.media.lower == k %}
                            {{ v }} : {{ def.ref_point }}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </ul>

{% endblock content %}